/Lab1/helloapp/node_modules/
/Lab1/helloapp/.angular/
/Lab1/purchaseapp/dist/
/Lab1/binding2/node_modules/
/Lab1/binding2/.angular/
/Lab1/ІО-04_Водзінський_Р_В_Лаб1(Реактивне_програмування).pdf
/Lab1/ІО-04_Водзінський_Роман_Лаб1(Реактивне_програмування).docx
/Lab4/ІО-04_Водзінський_Роман_Лаб4(Реактивне_програмування).docx
/Lab4/ІО-04_Водзінський_Роман_Лаб4(Реактивне_програмування).pdf
/Lab6/ІО-04_Водзінський_Роман_Лаб6(Реактивне_програмування).docx
/Lab6/ІО-04_Водзінський_Роман_Лаб6(Реактивне_програмування).pdf
